.header {
    font-family: 'Limelight', cursive;
    font-size: 70px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

body {
    background-image: url(../images/porthole.jpeg);
    background-repeat: repeat;
    font-family: 'IM Fell English SC', serif;
}